cachetools==4.2.4
certifi==2022.12.7
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.5
dataclasses==0.8
Flask==2.0.3
google-api-core==2.8.2
google-auth==2.17.3
google-cloud-speech==2.14.1
google-cloud-texttospeech==2.11.1
googleapis-common-protos==1.56.3
grpcio==1.48.2
grpcio-status==1.54.0
idna==3.4
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
proto-plus==1.22.2
protobuf==3.19.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
requests==2.27.1
rsa==4.9
six==1.16.0
typing-extensions==4.1.1
urllib3==1.26.15
Werkzeug==2.0.3
zipp==3.6.0
